<tr>
  <td><%= component.cid %></td>
  <td><%= component.name %></td>
  <td id="cid-<%= component.cid %>">
    <ul>
      <% component.digitizations.each do |d| %>
        <li>
        <% if d.urn.nil? %>
          No URNs Found
        <% else %>
          <%= link_to d.urn, d.url, target: '_blank' %>
        <% end %>
        </li>
    <% end %>
    </ul>
  </td>
</tr>
