<tr>
  <td><%= link_to component.cid, edit_component_path(component) %></td>
  <td><%= component.name %></td>
  <td data-id="cid-<%= component.cid %>">
    <ul class="list-unstyled">
      <% component.digitizations.each do |d| %>
        <li>
        <% if d.urn.nil? %>
          No URNs Found
        <% else %>
          <%= link_to d.urn, d.url, target: '_blank' %>
        <% end %>
        </li>
    <% end %>
    </ul>
  </td>
</tr>
