<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  <% @templates.each do |template| %>
    <tr>
      <td><%= template.name %></td>
      <td><%= link_to "Edit", edit_template_path(template) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
