<h1>Finding Aids</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <% if user_signed_in? %> <th></th> <% end %>
    </tr>
  </thead>
  <tbody>
  <% @finding_aids.each do |finding_aid| %>
    <tr>
      <td><%= link_to finding_aid.name, edit_finding_aid_path(finding_aid) %></td>
      <td><%= link_to finding_aid.url, finding_aid.url, target: '_blank' %></td>
      <% if user_signed_in? && current_user == finding_aid.owner %>
        <td><%= link_to "Delete", finding_aid, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New Finding Aid", new_finding_aid_path, class: 'btn btn-primary' %>
