<h1>Finding Aids by Project</h1>
<ul class="list-unstyled">
  <% current_user.projects.each do |project| %>
    <li>
      <h2><%= link_to project.name, edit_project_path(project) %></h2>
      <ul>
        <% project.finding_aids.each do |finding_aid| %>
          <li><%= link_to finding_aid.name, edit_finding_aid_path(finding_aid) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

  <!--
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <% if user_signed_in? %> <th></th> <% end %>
    </tr>
  </thead>
  <tbody>
  <%= render partial: 'finding_aids/row', collection: @finding_aids, as: :finding_aid %>
  </tbody>
</table>
<%= link_to "New Finding Aid", new_finding_aid_path, class: 'btn btn-primary' %>
-->
