<h1>Finding Aids</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <% if user_signed_in? %> <th></th> <% end %>
    </tr>
  </thead>
  <tbody>
  <%= render partial: 'finding_aids/row', collection: @finding_aids, as: :finding_aid %>
  </tbody>
</table>
<%= link_to "New Finding Aid", new_finding_aid_path, class: 'btn btn-primary' %>
