<div class="jumbotron">
  <p>
  <strong>Welcome to Link-o-matic!</strong>
  </p>
  <p>This is a simple project to help automate the insertion of links to
  digitized records into EAD finding aids.</p>
  <p>To get started, check out the example finding aid we&apos;ve added for you below or process a new finding aid.</p>
</div>

<h1 class="project-title">My Projects <small><%= link_to 'Create New Project', new_project_path %></small></h1>
<% current_user.projects.order(:created_at).each do |project| %>
  <%= render partial: 'projects/project', object: project %>
<% end %>
