<div class="jumbotron">
  <p>
  <strong>Welcome to Link-o-matic!</strong>
  </p>
  <p>This is a simple project to help automate the insertion of links to
  digitized records into EAD finding aids.</p>
  <p>To get started, check out the example finding aid we&apos;ve added for you below or process a new finding aid.</p>
</div>

<h1 class="project-title">Projects <small><%= link_to 'Create New Project', new_project_path %></small></h1>
<% current_user.projects.order(:created_at).each do |project| %>
  <%= render partial: 'projects/project', object: project %>
<% end %>

<div class="footer">
  <%= image_tag 'LL_mini.png', alt: 'Library Lab Logo', class: 'll-logo' %>
  <p>
  Thanks to the generous support of the <a href="http://lab.library.harvard.edu/">Harvard Library Lab</a>, the <a href="https://osc.hul.harvard.edu">Harvard Library Office for Scholarly Communication</a>, the <a href="http://cyber.law.harvard.edu">Berkman Center for Internet &amp; Society</a> and the <a href="http://www.arcadiafund.org.uk">Arcadia Fund</a>.
  </p>
</div>
