<dao xmlns:xlink="http://www.w3.org/1999/xlink"
                    linktype="simple"
                    xlink:actuate="onRequest"
                    xlink:show="new"
                    href="<%= digitization.url %>">
                  <daodesc>
                    <p><%= digitization.settings['link_text'] %></p>
                  </daodesc>
               </dao>
