// Place all the styles related to the FindingAids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ead-errors {
  overflow-y: scroll;
  max-height: 700px;
  li {
    margin-bottom: 1em;
  }
}
.ead {
  overflow: scroll;
  white-space: pre;
  max-height: 700px;
  word-wrap:normal;
}

.dl-horizontal dt {
  text-align: left;
}
